@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: 'Ubuntu Mono', monospace;
}

.column {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex: 1;
}

.column h2 {
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: all 0.15s ease-out;
}

.column h2:hover,
.column h2.hover-text {
  cursor: pointer;
}

.column button {
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  background-color: transparent;
  color: #fff;
  transition: all 0.15s ease-out;
}

.column button:hover,
.column button.hover-button {
  cursor: pointer;
}

@media (min-width: 770px) {
  body {
    flex-direction: row;
  }

  .column {
    flex-direction: column;
  }
}
