@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  font-family: "Ubuntu Mono", monospace;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex: 1;
  border: 1px solid black;
  background-color: darkred;
}

.column h2 {
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  transition: background 300ms;
}

.column h2:hover {
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.column button {
  padding: 10px;
  border: none;
  border-radius: 10px;
  background: transparent;
  font-size: 1.5rem;
  color: #fff;
  transition: background 300ms;
}

.column button:hover {
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
